
div.ElementLetter > .row > span.left { display: inline-block; width: 180px; }
div.ElementLetter .row { background-color: #DAE6F1; }
div.ElementLetter select,textarea,input { margin: 10px !important; }
div.ElementLetter select { width: 160px; }
div.ElementLetter textarea,input { font-family: courier !important; }

#ElementLetter_re { font-weight: bold; }
#dialog-confirm-cancel { display: none; }
