.correspondence-letter {
	@include box-shadow(4px 4px 4px 0 #CCC);
	font-family: sans-serif;
	background: #fff;
	border: 1px solid #ccc;
	padding: 40px;
	max-width: 740px;
	margin: 0 10px;
	&.draft {
		background: #fff image-url("bg_draft.png") center top no-repeat;
	}
	.accessible {
		font-size: 16pt;
	}
	pre {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}
	.banner {
		background: #fff;
		padding-bottom: 25px;
		.seal {
			float: left;
		}
		.logo {
			float: right;
		}
		.seal img {
			width: 87px;
		}
		.logo img {
			width: 350px;
		}
	}
	.to-address {
		display: inline-block;
		padding-left: 0;
		margin-top: 4em;
	}
	.from-address {
		float: right;
		margin-bottom: 18px;
		text-align: right;
	}
	.date, .clinic-date {
		padding-top: 15px;
	}
	.big {
		font-size: 14pt;
	}
}